rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // LIVE: 
      allow read: if true;
      deny write: if true;

      // // EMULATION: required for emulating databqase
      // allow read, write: if true;
    }
  }
}