rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // LIVE SETTINGS
    match /{document=**} {
      allow read: if true;
      allow write: if isUserAuthenticated();
    }
    // EMULATION: required for emulating databqase
    // match /{document=**} {
    //   allow read, write: if true;
    // }
    function isUserAuthenticated() {
      return request.auth.uid != null; 
    }
  }
}