.button {
  border: 0;
  border-radius: var(--border-radius-100);
  padding: 0.5rem 1.25rem;

  color: var(--clr-neutral-100);
  background: var(--clr-primary-500);

  text-transform: uppercase;
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);

  transition: var(--transition-100);

  &:hover {
    background: var(--clr-primary-200);
    color: var(--clr-neutral-800);
  }

  &:active {
    background: var(--clr-secondary-500);
    color: var(--clr-neutral-900);
    transition: none;
  }
}
