.card {
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;

  background: var(--clr-neutral-100);
  border-radius: var(--border-radius-200);
  box-shadow: var(--box-shadow-100);

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-2%);
  }

  &__details {
    display: grid;
    grid-template-rows: min-content 1fr min-content min-content;
    gap: 2rem;

    padding: 1.75rem;

    a,
    a:visited,
    a:active,
    a:hover {
      display: grid;
    }
  }

  &__name {
    font-size: 1.75rem;
    font-family: var(--ff-accent);
    color: var(--clr-primary-800);
  }

  &__description {
    line-height: 1.7;
  }

  &__characters {
    &__container {
      margin-top: auto;
      align-items: center;

      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &__header {
      font-size: 1.25rem;
      font-family: var(--ff-accent);
      margin-right: auto;
      color: var(--clr-primary-800);
    }
  }
}
