.gameplay {
  position: relative;
  object-fit: cover;
  margin: 1rem auto;

  &__zoom {
    position: absolute;
    pointer-events: none;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
  }
}
