.home {
  &__title {
    font-family: var(--ff-accent);
    color: var(--clr-primary-800);

    margin-block: 1.5rem;
    font-size: 3rem;
    margin-inline: auto;
    text-align: center;
  }

  &__card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 1rem;
  }
}
