.header {
  position: sticky;
  top: 0;
  left: 0;

  background: var(--clr-primary-300);
  padding: 0.5rem;
  border-bottom: 3px solid var(--clr-primary-400);

  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.timer {
  font-family: var(--ff-accent);
  font-size: 2rem;
  font-weight: bold;
  color: var(--clr-primary-800);
}

.statuses {
  display: flex;
  gap: 0.25rem;

  .character {
    overflow: none;

    &__img {
      border-radius: var(--border-radius-200);
      border: 3px solid var(--clr-primary-400);
      height: 60px;
      aspect-ratio: 1/1;
    }
    .found {
      opacity: 0.35;
    }
  }
}

.exit-button {
  flex-grow: 0;
}
