header {
  padding: 0.5rem;

  color: var(--clr-neutral-100);
  background: var(--clr-primary-400);

  border-bottom: 3px solid var(--clr-primary-500);
  text-shadow: var(--text-shadow-100);

  .column {
    display: grid;
    grid-template-columns: max-content min-content;
    align-items: center;
    justify-content: space-between;

    margin-inline: 0.5rem;
  }
}

.title__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title__text {
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  font-size: 1.75rem;
}

.title__img {
  aspect-ratio: 1/1;
  height: 40px;
  border-radius: 100%;
  box-shadow: var(--box-shadow-100);
}
