.gameover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  gap: 1rem;

  padding: 2rem;

  background: var(--clr-primary-100);
  border: 3px solid var(--clr-primary-300);
  border-radius: var(--border-radius-200);

  text-align: center;

  &__header {
    text-transform: uppercase;
    font-family: var(--ff-accent);
  }

  &__para {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
